.product-image {
    width: 230px;
    height: 234px;
    margin: auto;
}

.product-info {
    text-align: center;
}

.product-frame {
    display: inline-flex;
    flex-direction: column;
}

.order-now-wrapper {
    margin: auto;
}